<section>
<div class="user-list-container">
  		<div class="user-list" (click)="selectedAgent('Ahmad Shaikh')">
  			<img src="assets/images/user.png"/>
  			<h5>Ahmad Shaikh</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Alaa El Rabah')">
  			<img src="assets/images/user.png"/>
  			<h5>Alaa El Rabah</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Anafe Baylon (Receptionist)')">
  			<img src="assets/images/user.png"/>
  			<h5>Anafe Baylon (Receptionist)</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Asma Mohammed')">
  			<img src="assets/images/user.png"/>
  			<h5>Asma Mohammed</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Bassel Bitar')">
  			<img src="assets/images/user.png"/>
  			<h5>Bassel Bitar</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Emmanuelle De Ortega')">
  			<img src="assets/images/user.png"/>
  			<h5>Emmanuelle De Ortega</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Imitiaz HUssain')">
  			<img src="assets/images/user.png"/>
  			<h5>Imitiaz HUssain</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Imitiaz Hussain')">
  			<img src="assets/images/user.png"/>
  			<h5>Imitiaz Hussain</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Pramod Prassandan')">
  			<img src="assets/images/user.png"/>
  			<h5>Pramod Prassandan</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Rachida Eddassi')">
  			<img src="assets/images/user.png"/>
  			<h5>Rachida Eddassi</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Rong Wei')">
  			<img src="assets/images/user.png"/>
  			<h5>Rong Wei</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Saed Ajjawi')">
  			<img src="assets/images/user.png"/>
  			<h5>Saed Ajjawi</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Suhani Prabh')">
  			<img src="assets/images/user.png"/>
  			<h5>Suhani Prabh</h5>
	    </div>
	    <div class="user-list" (click)="selectedAgent('Yahya Abu Hlwa')">
  			<img src="assets/images/user.png"/>
  			<h5>Yahya Abu Hlwa</h5>
	    </div>

  	</div>
  	<button type="button" class="btn btn-primary prev" (click)="redirectTo('services')">Back</button>
  </section>