.next{
	float: right;
	margin-top: 10px;
}
.prev{
	float: left;
	margin-top: 10px;
}
.user-list{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #F7F7F7;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
    margin-top: 2px;
}
.user-list:hover{
    background-color: #939393;
}