<section id="first">
  		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		        BUSINESS DEVELOPMENT</a>
		      </h4>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
		      	<div class="user-list" (click)="selectedService('Business Development')">
			  			<h5>Business Development</h5>
			  			<p>DMCC (Dubai Multi Commodities Centre) was established in 2002 as a strategic initiative of the government of Dubai with a mandate to provide the physical, market and financial infrastructure required to establish Dubai as a hub for global commodities trade.</p>
				      </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		        MEMBER SERVICE EXECUTIVE (MSC)</a>
		      </h4>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<div class="user-list" (click)="selectedService('New Company Registration Doc Submission')">
			  			<h5>New Company Registration Doc Submission</h5>
				    </div>
				    <div class="user-list" (click)="selectedService('New Company License Doc Submission')">
			  			<h5>New Company License Doc Submission</h5>
				    </div>
				    <div class="user-list" (click)="selectedService('General Enquiries')">
			  			<h5>General Enquiries</h5>
				    </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		        KEY ACCOUNT MANAGEMENT</a>
		      </h4>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<div class="user-list" (click)="selectedService('Key Account Executive')">
			  			<h5>Key Account Executive</h5>
				    </div>
		      </div>
		    </div>
		  </div>
		</div>
</section>